<% if @image.errors.any? %>
  <div class='alert alert-danger>
    <ul>
      <% @image.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <div class="jumbotron">
    <p>
      <%= simple_format(@image_text) %>
    </p>
  </div>

  <div>
    <%= link_to 'New Convert', root_path, class: 'btn btn-primary' %>
  </div>

  <div class="powered">
    <h6>Developed by <a href="https://papooa.com/" target="_blank">papooa.com</a></h6>
  </div>

  <div style="clear: both;"></div>
</div>

<% @title = 'ImageToText Papooa OCR' %>
<% @description = 'Free Convert Image to Text, Free OCR' %>
